@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Roboto&display=swap');
body{
  margin : auto;
  font-family: 'Parisienne', cursive;
font-family: 'Roboto', sans-serif;
}
.logo{
  width: 140px;
  height: 55px;
}
header{
  position: sticky;
  top : 0;
  background : white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.box{
  display: flex;
  margin: 12px;
}
.container{
  padding: 1vw 5vw 0.3vw 5vw;
  margin : auto;
}
.containerheader{
  padding: 1vw 5vw 0.3vw 5vw;
  margin : auto;
}
nav ul li {
  list-style: none;
  font-size: .8rem;
  padding: 0 15px;
}
.search_bar{
  width: 34vw;
  height : 3vh;
  border: none;
  background-color: #eeeeee;
  padding: 8px 15px;
}
.firstimg{
  width : 90vw;
  margin-top : 15px;
}
.secimg{
  width : 90vw;
  margin-top : 5px;
}
.thirdimg{
  width : 10vw;
  margin : 3px 18px;
}
footer{
  padding: 15px;
  text-align: center;
}
@media (max-width : 1400px){
  header{
    height: fit-content;
  }
  nav{
    flex-direction: column;
    align-items: center;
  }
  .right{
    flex-direction: column;
  }
  .box{
    display: flex;
    margin: 20px;
  }
  nav ul li {
    padding: 0 5px;
    font-size: 10px;
  }
  .containerheader{
    padding: 0 2vw;
    margin : auto;
  }
}
